<%- include("partials/header"); -%>

<div class="container mt-3">
    <h1>Contact Info</h1>
    <p><%= contactContent %></p>
    <p>Επίσης για οποιοδήποτε μήνυμά σας, θα μας βρείτε στο: toumpekiskon@gmail.com <br>
    <a href="mailto:toumpekiskon@gmail.com">Πατήστε για αποστολή μηνύματος</a></p>
</div>

<%- include("partials/footer"); -%>