<%- include("partials/header"); -%>

<%- include("partials/carousel"); -%>

<div class="container marketing">
    <div class="row mt-4 ">
      <div class="col-lg-4">
        <img class="rounded-circle img-fluid img-custom" src="/img/αρχείο λήψης (1).jpg"><br>
        <h2>News</h2>
        <p>Here you can learn all the news, related to our company and more.</p>
        <p><a class="btn btn-primary" href="/news" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle img-fluid img-custom" src="/img/service-icon.png"><br>
        <h2>Service</h2>
        <p>All about the customer services we provide</p>
        <p><a class="btn btn-primary" href="/service" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle img-fluid img-custom" src="/img/bike-icon.png"><br>
        <h2>Products</h2>
        <p>See the products you can find in us.</p>
        <p><a class="btn btn-primary" href="/products" role="button">View details &raquo;</a></p>
    </div>
    </div>
</div>

<%- include("partials/features"); -%>

<%- include("partials/footer"); -%>

